paper-toolbar{
	background: #d81b60;
	paper-icon-button {
		display: none;
	}
}

div.horizontal-nav paper-tabs paper-tab a {
	text-decoration: none;
	color: black;
	padding: 10px;
	font-size: 1.2em;
	color: var(--secondary-text-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.horizontal-nav paper-tabs paper-tab {
	color: #fff;
	
}

div.horizontal-nav paper-tabs paper-tab::shadow paper-ripple {
	color: #fff;
}

div.horizontal-nav paper-tabs::shadow div#selectionBar{
	background-color: #dedede;
}

@media(max-width : 900px){
	div.horizontal-nav{
		display: none;
	}
	paper-toolbar paper-icon-button{
		display: block;
	}
}